<template>
  <div class="card" :class="classCard"></div>
</template>

<script>
export default {
  name: 'card',
  props: ['val', 'suit', 'selected'],
  data () {
    return {
    }
  },
  computed: {
    classCard: function () {
      return this.suit[0].toLowerCase() + this.val + (this.selected ? ' selected' : '')
    }
  },

  methods: {
    log () {
      console.log('from parent')
    }
  }
}

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
body {
  background-color: #076324;
  background-image: url("http://www.transparenttextures.com/patterns/black-felt.png");
}

.card {
  width: 71px;
  height: 97px;
  display: inline-block;
}

.selected {
  opacity: 0.5;
}

.c14 {
 background: url(../assets/cards.png) -2px -1px;
}

.c2 {
 background: url(../assets/cards.png) -75px -1px;
}

.c3 {
 background: url(../assets/cards.png) -148px -1px;
}

.c4 {
 background: url(../assets/cards.png) -220px -1px;
}

.c5 {
 background: url(../assets/cards.png) -294px -1px;
}

.c6 {
 background: url(../assets/cards.png) -366px -1px;
}

.c7 {
 background: url(../assets/cards.png) -440px -1px;
}

.c8 {
 background: url(../assets/cards.png) -512px -1px;
}

.c9 {
 background: url(../assets/cards.png) -586px -1px;
}

.c10 {
 background: url(../assets/cards.png) -658px -1px;
}

.c11 {
 background: url(../assets/cards.png) -732px -1px;
}

.c12 {
 background: url(../assets/cards.png) -804px -1px;
}

.c13 {
 background: url(../assets/cards.png) -878px -1px;
}

.h14 {
 background: url(../assets/cards.png) -2px -99px;
}

.h2 {
 background: url(../assets/cards.png) -75px -99px;
}

.h3 {
 background: url(../assets/cards.png) -148px -99px;
}

.h4 {
 background: url(../assets/cards.png) -220px -99px;
}

.h5 {
 background: url(../assets/cards.png) -294px -99px;
}

.h6 {
 background: url(../assets/cards.png) -366px -99px;
}

.h7 {
 background: url(../assets/cards.png) -440px -99px;
}

.h8 {
 background: url(../assets/cards.png) -512px -99px;
}

.h9 {
 background: url(../assets/cards.png) -586px -99px;
}

.h10 {
 background: url(../assets/cards.png) -658px -99px;
}

.h11 {
 background: url(../assets/cards.png) -732px -99px;
}

.h12 {
 background: url(../assets/cards.png) -804px -99px;
}

.h13 {
 background: url(../assets/cards.png) -878px -99px;
}

.s14 {
 background: url(../assets/cards.png) -2px -197px;
}

.s2 {
 background: url(../assets/cards.png) -75px -197px;
}

.s3 {
 background: url(../assets/cards.png) -148px -197px;
}

.s4 {
 background: url(../assets/cards.png) -220px -197px;
}

.s5 {
 background: url(../assets/cards.png) -294px -197px;
}

.s6 {
 background: url(../assets/cards.png) -366px -197px;
}

.s7 {
 background: url(../assets/cards.png) -440px -197px;
}

.s8 {
 background: url(../assets/cards.png) -512px -197px;
}

.s9 {
 background: url(../assets/cards.png) -586px -197px;
}

.s10 {
 background: url(../assets/cards.png) -658px -197px;
}

.s11 {
 background: url(../assets/cards.png) -732px -197px;
}

.s12 {
 background: url(../assets/cards.png) -804px -197px;
}

.s13 {
 background: url(../assets/cards.png) -878px -197px;
}

.d14 {
 background: url(../assets/cards.png) -2px -295px;
}

.d2 {
 background: url(../assets/cards.png) -75px -295px;
}

.d3 {
 background: url(../assets/cards.png) -148px -295px;
}

.d4 {
 background: url(../assets/cards.png) -220px -295px;
}

.d5 {
 background: url(../assets/cards.png) -294px -295px;
}

.d6 {
 background: url(../assets/cards.png) -366px -295px;
}

.d7 {
 background: url(../assets/cards.png) -440px -295px;
}

.d8 {
 background: url(../assets/cards.png) -512px -295px;
}

.d9 {
 background: url(../assets/cards.png) -586px -295px;
}

.d10 {
 background: url(../assets/cards.png) -658px -295px;
}

.d11 {
 background: url(../assets/cards.png) -732px -295px;
}

.d12 {
 background: url(../assets/cards.png) -804px -295px;
}

.d13 {
 background: url(../assets/cards.png) -878px -295px;
}
</style>
