<template>
  <div id="gametable">
    <Card :val="c.val" :suit="c.suit" v-for="c in cards" :key="c.id"></Card>
    <button v-on:click="shuffle">shuffle</button>
    <button v-on:click="pop">pop</button>
    <Pot :fiches=cpu_pot></Pot>
    <p>CPU POT : {{cpu_pot}}</p>
    <p>PLAYER POT : {{player_pot}}</p>
    <p>POT: {{pot}}</p>
  </div>
</template>

<script>
import Card from '@/components/Card'
import Pot from '@/components/Pot'

export default {
  name: 'gametable',
  components: {
    Card, Pot
  },
  data () {
    return {
    }
  },
  methods: {
    shuffle: function () {
      console.log('click')
      this.$store.commit('shuffle')
    },
    pop: function () {
      this.$store.commit('pop')
    },
    spread: function () {
      this.$store.commit('spread')
    }
  },
  computed: {
    cards: function () {
      return this.$store.getters.deck
    },

    cpu_pot () {
      return this.$store.getters.cpu_pot
    },

    player_credits () {
      return this.$store.getters.player_credits
    },

    player_pot () {
      return this.$store.getters.player_pot
    },

    pot () {
      return this.$store.getters.pot
    },

    state: function () {
      return this.$store.getters.state
    }
  }
}

</script>
<style scoped>
#gametable {
  margin-top: 200px;
  background-color: green;
  position: absolute;
  left: 0;
  top: 0;
  height: 100px;
  width: 100%;
}
</style>
