<template>
  <div id="pc">
  <img v-show="isDealer" class="dealer" src="../assets/dealer.svg" alt="">
  <Card :val="c.val" :suit="c.suit" v-for="c in cards" :key="c.id"></Card>
  <div class="info">
    {{score}} {{credits}}
  </div>

  </div>
</template>

<script>
import Card from '@/components/Card'
import utils from '@/utils'
export default {
  name: 'pc',
  components: {
    Card
  },
  data () {
    return {
    }
  },
  computed: {
    isDealer: function () {
      return this.$store.getters.dealer === 0
    },
    cards: function () {
      return this.$store.getters.cpu_cards
    },
    score: function () {
      return utils.score.getScore(this.$store.getters.cpu_cards)
    },
    credits: function () {
      return this.$store.getters.cpu_credits
    }
  }
}

</script>
<style scoped>
#pc {
    background-color: orange;
    position: absolute;
    left: 0;
    top: 0;
    height: 100px;
    width: 100%;
    
}

.dealer {
  width: 50px;
  height: 50px;
}
</style>
