<template>
  <div id="player" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <img v-show="isDealer" class="dealer" src="../assets/dealer.svg" alt="">
  <Card @click.native="toggleChange(c)" :val="c.val" :suit="c.suit" :selected="c.selected" v-for="c in cards" :key="c.id"></Card>
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="info col-lg-4 col-md-4 col-sm-4 col-xs-4"></div>
    <div class="info col-lg-4 col-md-4 col-sm-4 col-xs-4">
        <p id="pot">Fiches puntate: {{player_pot}}</p>
        <p id="score">Score: {{score}}</p>
        <div v-show="gameStatus === 0">
          <button v-show="aperturaStatus !== null" @click="vedi()">Vedi</button>
          <button v-show="aperturaStatus !== null" :disabled="fiches < (cpu_pot - player_pot + 1)" @click="rilancia(parseInt(fiches))">Rilancia</button>
          <button v-show="aperturaStatus !== null" @click="fold()">Fold</button>
          <button v-show="aperturaStatus === null" @click="apertura(parseInt(fiches))" :disabled="!canOpen && aperturaStatus === null">Apro</button>
          <button v-show="aperturaStatus === null" @click="apertura(0)">Non Apro</button>
          <input id="fiches" v-model="fiches" type="number">
        </div>
        <div v-show="gameStatus === 1">
          <button @click="change">{{changeCardsLength ? `Cambia ${changeCardsLength} carte` : 'Servito'}}</button>
        </div>
        <div v-show="gameStatus === 2">
          <button @click="">check/vedi</button>
          <button @click="">rilancia</button>
          <button @click="">Fold</button>
          <input id="fiches" type="number" v-model="fiches">
        </div>
    </div>
    <div class="info col-lg-2 col-md-2 col-sm-2 col-xs-2"> 
    </div>
    <div class="info col-lg-2 col-md-2 col-sm-2 col-xs-2">
      <p class="fiches_player">Fiches: {{player_credits}}</p>
      <div style="display: inline-block;">
        <div class="fiches pokerchip iso f5000 toOverlay" style="z-index:999"></div>
        <div class="fiches pokerchip iso f5000 toOverlay" style="z-index:998"></div>
      </div>
      <div style="display: inline-block;">
        <div class="fiches pokerchip iso f1000 toOverlay" style="z-index:999"></div>
        <div class="fiches pokerchip iso f1000 toOverlay" style="z-index:998"></div>
      </div><br>
      <div style="display: inline-block;">
        <div class="fiches pokerchip iso toOverlay" style="z-index:999"></div>
        <div class="fiches pokerchip iso toOverlay" style="z-index:998"></div>
      </div>
      <div style="display: inline-block;">
        <div class="fiches pokerchip iso f200 toOverlay" style="z-index:999"></div>
        <div class="fiches pokerchip iso f200 toOverlay" style="z-index:998"></div>
      </div>
    </div>
  </div>
  <div class="info">
    <h3 v-show="isPlayerTurn">è il tuo turno</h3>
    <h3 v-show="!isPlayerTurn">è il turno del PC</h3>
  </div>
  </div>
</template>

<script>
import Card from '@/components/Card'
import utils from '@/utils'
export default {
  name: 'player',
  components: {
    Card
  },
  data () {
    return {
      fiches: 0
    }
  },
  computed: {
    gameStatus () {
      return this.$store.getters.game_status
    },
    aperturaStatus () {
      return this.$store.getters.apertura
    },
    isPlayerTurn () {
      return this.$store.getters.turn === 1
    },
    isDealer () {
      return this.$store.getters.dealer === 1
    },
    changeCardsLength () {
      return this.$store.getters.player_cards.filter(c => c.selected).length
    },
    cards: function () {
      return this.$store.getters.player_cards
    },
    player_credits () {
      return this.$store.getters.player_credits
    },
    player_pot () {
      return this.$store.getters.player_pot
    },
    cpu_pot () {
      return this.$store.getters.cpu_pot
    },
    score () {
      return utils.score.getScore(this.$store.getters.player_cards)
    },
    canOpen () {
      return utils.score.apertura(this.$store.getters.player_cards)
    }
  },

  methods: {
    toggleChange (c) {
      if (this.gameStatus !== 1 || (!c.selected && this.changeCardsLength === 4))
        return
      this.$store.commit('toggleChange', c)
    },

    change () {
      this.$store.dispatch('pl_change')
    },

    vedi () {
      this.$store.dispatch('pl_vedi')
    },

    fold () {
      this.$store.dispatch('pl_fold')
    },

    rilancia (a) {
      this.$store.dispatch('pl_puntarilancia', a)
    },

    apertura (a) {
      console.log(a)
      if (a < this.$store.getters.cpu_pot) {
        console.log('hai puntato poco')
        return
      }
      this.$store.dispatch('pl_apertura', a)
      this.fiches = 0
    }
  }
}

</script>
<style>

.pokerchip{
  font-size:0.8em;
  position:relative;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  width:5em;
  height:5em;
  background:#555;
  border-radius:50%;
  position:relative;
  border:.5em dashed white;
  transition:all .5s ease;
  backface-visibility:hidden;
}
.pokerchip.iso{
  transform: perspective(3000px) rotateX(55deg) rotateZ(-40deg);
}

.pokerchip.flat:hover{
  transform:rotate(90deg);
}

.pokerchip.iso:hover{
  transform: perspective(3000px) rotateX(55deg) rotateZ(-40deg) translateZ(.5em);
}
.pokerchip.f5000{
  background:#317DDD;
}

.pokerchip.f1000{
  background:#DD4631;
}

.pokerchip.f500{
  background: #FFD700 !important;
}

.pokerchip.f200{
  background: green !important;
}

#player {
    background-color: orange;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 300px;
    overflow:hidden;
}
.info {
  display: block;
}

.dealer {
  width: 50px;
  height: 50px;
}

#fiches {
  width: 50px;
}
.toOverlay{
  margin-bottom: -40px;
}
.fiches_player{
  font-weight: bold;
}
</style>
