<template>
  <div class="pot">
    <div v-for="p in pile" class="pila">
      <div v-for="(i, index) in p.count" :class="'f' + p.val+' zIndex' + index" class="fiches pokerchip iso toOverlay">
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'pot',
  props: ['fiches'],
  data () {
    return {
    }
  },
  computed: {
    pile: function () {
      const v = [5000, 1000, 500, 200, 100, 50, 20, 10, 5, 2, 1]
      let copyF = parseInt(this.fiches)
      let arrF = []
      if (!copyF)
        return []
      for (let i = 0; i < v.length; i++)
        if ((Math.floor(copyF / v[i])) > 0) {
          arrF.push({val: v[i], count: Math.floor(copyF / v[i])})
          if (copyF % v[i] === 0)
            return arrF
          else
            copyF = copyF % v[i]
        }
    }/* ,
    pile2: function () {
      let p = this.pile
      if (p.length <= 4)
        return p

      let arr = []
      let sum = p.reduce((a, b) => a.count + b.count)
      let div = Math.floor(sum / 4)
      let rest = sum % 4

      let tmp = []
      for (let i = 0; i < p.length; i++)
        for (let j = 0; j < p.count; j++)
          tmp.push()
      for (let i = 0; i < 4; i++)
        for (let j = 0; j < sum; j++) */

  },

  methods: {
    log () {
      console.log('from parent')
    }
  }
}

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

.pokerchip{
  font-size:0.5em;
  position:relative;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  width:5em;
  height:5em;
  background:#555;
  border-radius:50%;
  position:relative;
  border:.5em dashed white;
  transition:all .5s ease;
  backface-visibility:hidden;
}
.pila {
  display:inline-block;
}

.pokerchip.f5000{
  background:#317DDD;
}

.pokerchip.f1000{
  background:#DD4631;
}

.pokerchip.f500{
  background: #FFD700 !important;
}

.pokerchip.f200{
  background: green !important;
}

.pokerchip.f100{
  background: pink !important;
}

.pokerchip.f50{
  background: violet !important;
}

.pokerchip.f20{
  background:black !important;
}

.pokerchip.f10{
  background:grey !important;
}

.pokerchip.f5{
  background:#B8860B !important;
}

.pokerchip.f2{
  background:#00FFFF !important;
}

.pokerchip.f1{
  background:#00008B !important;
}

.pokerchip.iso{
  transform: perspective(3000px) rotateX(55deg) rotateZ(-40deg);
}

.pokerchip.flat:hover{
  transform:rotate(90deg);
}

.pokerchip.iso:hover{
  transform: perspective(3000px) rotateX(55deg) rotateZ(-40deg) translateZ(.5em);
}

.toOverlay{
  margin-bottom: -30px;
}
.pokerchip:last-child{
  margin-bottom:0px;
}

.zIndex0{
  z-index: 999;
}
.zIndex1{
  z-index: 998;
}
.zIndex2{
  z-index: 997;
}
.zIndex3{
  z-index: 996;
}
.zIndex4{
  z-index: 995;
}
.zIndex5{
  z-index: 994;
}
.zIndex6{
  z-index: 993;
}
.zIndex7{
  z-index: 992;
}
</style>
