<template>
  <div id="app">
    <Pc></Pc>
    <Gametable></Gametable>
    
    <Player></Player>
  </div>
</template>

<script>
import Card from './components/Card'
import Player from './components/Player'
import Pc from './components/Pc'
import Gametable from './components/Gametable'
import score from './utils/score'

export default {
  name: 'app',
  components: {
    Card,
    Player,
    Pc,
    Gametable
  },

  methods: {
    shuffle: function () {
      console.log('click')
      this.$store.commit('shuffle')
    },
    pop: function () {
      this.$store.commit('pop')
    },
    startGame () {
      /* this.$store.commit('init_deck')
      this.$store.commit('shuffle')
      this.$store.commit('spread')
      this.$store.commit('toggle_dealer')
      this.$store.commit('set_status', {status: 0})
      if (this.$store.getters.dealer === 1)
      /* tocca al pc
        this.$store.dispatch('ia_apertura') */
      this.$store.dispatch('start_hand')
    },
    spread: function () {
      this.$store.commit('spread')
    }
  },

  computed: {
    deck: function () {
      return this.$store.getters.deck
    }
  },

  created: function (p) {
    this.startGame()
    let a = [{val: 11}, {val: 13}, {val: 13}, {val: 12}, {val: 14}]
    console.log(score.getCoppiaChange(a))
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
